/* Universal Styles */

html {
  font-family: "Glass Antiqua";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.slogan {
  font-family: "Glass Antiqua", cursive;
  color: white;
  line-height: 125px;
  font-weight:400;
  font-style: normal;
  font-size: 17px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  font-family: "Glass Antiqua";
  text-decoration: none;
  height: 76px;
  background-color: white;
  padding-left: 30px;
  padding-right: 75px;
  color: black;
}

header a:visited {
  color:#11465d;
}

h1 {
  font-family: "UnifrakturMaguntia";
  line-height: 100px;
  font-weight: 800px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 3px grey,
  0 0 1em navy,
  0 0 0.2em navy;
}

h2 {
  margin: 10px;
}

nav ul li {
  position: sticky;
  display: inline-block;
  padding-right: 250px;
  align-content: center;
}

nav a {
 text-decoration: none;
  list-style-type: none;
  color: black;
  line-height: 1.4;
}

a:hover {
  text-shadow: 1px 1px 2px grey,
  0 0 1em rgb(41, 41, 216),
  0 0 0.4em rgb(41, 41, 216);
  color: white;
}

a:visited {
  color:#11465d;
}

.icon {
  margin-right: 30px;
  width: 2rem;
  height: 2rem;
  padding-left: 30px;
  flex: 1;
}
.icon a{
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: rgb(25, 55, 64);
  text-align: center;
  color:white;
}
.content p {
  position: center;
  align-content: center;
} 
audio {
  padding-bottom: 10px;
}
/* Banner Section */

.banner-section {
  margin-top: 0px;
  overflow: hidden;
}

#ban {
  display:block;
  background-image: url("/Users/roxannemartinez/Documents/Projects/baubles project/resources/dan-novac-SyRj7mT9kyg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  min-height: 2000px;
  padding-bottom: 30px;
}

/* Product Section */

.Products {
  display: grid;
  width: 100%;
  height: 2000px;
  grid-template-areas:
  "secondary-background square1 square2 square3 square4"
  "secondary-background2 square5 square6 square7 square8"
  "secondary-background3 square9 square10 square11 square12"
  "secondary-background4 square13 square14 square15 square16"
  "seocndary-background5 square17 square18 square19 square20";
  grid-template-rows: repeat(5, 270px);
  grid-template-columns: 310px 310px 310px 310px 310px;
  margin-top: 20px;
  justify-items: center;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  gap: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

 img {
  width: 305px;
  height: 270px;
}

.square1,.square2,.square3,.square5,.square4,.square6,.square7,.square8,.square9,.square10,.square11,.square12,.square13,.square15,.square16,.square18,.square19,.square17,.square20,.square14 {
  border-radius: 4px;
  border: 1px solid white;
}

.square1 {
  grid-area: "square1";
}

.square2 {
  grid-area: "square2";
}

.square3 {
  grid-area: 1 / 4 / 2 / 5;
}

.square4 {
  grid-area: 1 / 5 / 2 / 6;
}

.square5 {
  grid-area: 2 / 2 / 3 / 3;
}
.square6 {
  grid-area: 2 / 3 / 3 / 4;
}
.square7 {
  grid-area: 2 / 4 / 3 / 5;
}
.square8 {
  grid-area: 2 / 5 / 3 / 6;
}
.square9 {
  grid-area: 3 / 2 / 4 / 3;
}
.square10 {
  grid-area: 3 / 3 / 4 / 4;
}
.square11 {
  grid-area: 3 / 4 / 4 / 5;
}
.square12 {
  grid-area: 3 / 5 / 4 / 6;
}
.square13 {
  grid-area: 4 / 2 / 5 / 3;
}
.square14 {
  grid-area: 4 / 3 / 5 / 4;
}
.square15 {
  grid-area: 4 / 4 / 5 / 5;
}
.square16 {
  grid-area: 4 / 5 / 5 / 6;
}

.square17 {
  grid-area: 5 / 2 / 6 / 3;
}

.square18 {
  grid-area: 5 / 3 / 6 / 4;
}
.square19 {
  grid-area: 5 / 4 / 6 / 5;
}
.square20 {
  grid-area: 5 / 5 / 6 / 6;
}
.secondary-background2 {
  grid-area: 2 / 1 / 3 / 2;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.7;
}

.secondary-background {
  grid-row-start: "secondary-background";
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.7;
}
.secondary-background3 {
  grid-area: 3 / 1 / 4 / 2;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.7;
}
.secondary-background4 {
  grid-area: 4 / 1 / 5 / 2;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.7;
}
.secondary-background5 {
  grid-area: 5 / 1 / 6 / 2;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.7;
}

.square h4 {
  font-size: 1rem;
}

h4:hover {
  transition: 0.5s;
  text-shadow: #11465d 1px 0 10px,
  0 0 1em rgb(26, 99, 158),
  0 0 0.4em rgb(26, 99, 158);
}


.description p {
  font-family: "Playwrite NO", cursive;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.3;
  text-align: left;
  color:rgb(25, 55, 64);
  padding: 10px 0px 10px 0px;
}

.secondary-background:hover,.secondary-background2:hover,.secondary-background3:hover,.secondary-background4:hover,.secondary-background5:hover,.square1:hover,.square2:hover,.square3:hover,.square4:hover,.square5:hover,.square6:hover,.square7:hover,.square9:hover,.square10:hover,.square11:hover,.square12:hover,.square13:hover,.square14:hover,.square16:hover,.square17:hover,.square18:hover,.square19:hover,.square20:hover {
  box-shadow: 2px 2px 5px white;
  transition: 0.5s;
}

/* Footer */

footer {
  font-size: 24px;
}
.copyright {
text-align: left;
margin-left: 30px;
}

.contact {
  font-size: 1rem;
}